html,body{
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    font-family:  Helvetica;
}
nav{
    display: flex;
    background-color: #7ACC2D;
    padding: 10px;
    color: white;  
    justify-content: space-between; 
    align-items: center;
}
nav ul{
  display:flex;
}
nav li{
    padding-left: 20px;
    list-style: none;
    color: white;
}
nav li a{
    color: black;
    text-decoration: none;
}
/* animacion cuando se toque cambie de color */
nav li a:hover{
color: white;
}
/*------------------------------------- main section------- */
.main_section{
    padding: 15%;
    text-align: center;
}
.products{
    background-image: url("../imagenes/curve.png");
    height: 200px;
    background-size: cover;
    background-position: center top;
    padding: 20px;
    display: flex;
}
.prpduct {
    padding: 10px;
}
.product .content{
    background-color:white;
    padding: 20px;
}